<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been hired by a 'No Soup for You' retailer</h1>
    <p>
      Your password to sign in is <strong><%= @password %></strong>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
