%h1= @restaurant.name
%h3= @restaurant.description
%br
%p= @restaurant.name
%p= @restaurant.description
-# = render partial: 'layouts/shared/carousel', :locals => { :restaurant => @restaurant }
-# = render partial: 'layouts/shared/marketing_containers'
